/*
Hoja de Estilo 
Creador: Manolo y Sebas
Noviembre 2020
*/
h1{
    background-color: crimson;
    color: white;
    border: 3px solid white; 
    padding: 30px;;
    border-radius: 30px; 
}
p{
    color:blue;
}
pre{
    background-color:palevioletred;
    color: white;
    margin: 10px;
    padding: 10px;
}
p{
   color:blue; 
}
p{
    color:blue;
}
    